body{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
.main-container{
  width: 100%;
  height: 100vh;
  background: #17223b;
  position: relative;
}
.main-header{
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, 0);
  width: 90%;
  height: auto;
  text-align: center;
}
.main-header img{
  width: inherit;
}
.main-login{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: auto;
  background: rgba(15,52,96,0.95);
  border-radius: 3px;
  padding: 20px 0;
}
.main-login--header{
  width: 100%;
  font-family: 'Fjalla One', sans-serif;
  color: #ffffff;
  text-align: center;
}
.main-login--form{
  width: 90%;
  margin: 0 auto;
}
.main-login--form input{
  width: 100%;
  height: 45px;
  outline: none;
  text-align: center;
  border: none;
  margin-bottom: 10px;
  background: #011731;
  color: #ffffff;
  font-size: 17px;
}
.main-login--form .buttons{
  width: 100%;
  height: auto;
}
.main-login--form .buttons .btn-login{
  width: 100%;
  height: 45px;
  line-height: 45px;
  text-align: center;
  background: #0d2252;
  color: #ffffff;
  text-transform: uppercase;
  border-radius: 3px;
}
.main-login--form .buttons .forgot{
  width: 100%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #ffffff;
  margin-top: 15px;
  cursor: pointer;
}
/* Utilities */
.none{
  display: none;
}
.message{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background: #2b3595;
  color: #ffffff;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}
